<h3>view User Details</h3>
<body>
<div>
    <div>
        <label><b>userFirstName</b></label>
        {{userinfo.userFirstName}}
    </div>
    <div>
        <label><b>userLastName</b></label>
        {{userinfo.userLastName}}
    </div>
    <div>
        <label><b>userEmail</b></label>
        {{userinfo.userEmail}}
    </div>
    <div>
        <label><b> userAge</b></label>
        {{userinfo.userAge}}
    </div>
    <div>
        <label><b>userContactNumber</b></label>
        {{userinfo.userContactNumber}}
    </div>
    <div>
        <label><b> userGender</b></label>
        {{userinfo.userGender}}
    </div>
    <div>
        <label><b>userCountry</b></label>
        {{userinfo.userCountry}}
    </div>
    <div>
        <label><b> userState</b></label>
        {{userinfo.userState}}
    </div>

</div>
</body>