<h2 id="a">BookRoom List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>userEmail</th>
            <th> roomType</th>
            <th>cost</th>
            <th> paymentMethod</th>
             
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of bookroom">
            <td>{{user.userEmail}}</td>
            <td>{{user.roomType}}</td>
            <td>{{user.cost}}</td>
            <td>{{user.paymentMethod}}</td>

            <td>
                <button (click) = "deleteBookRooms(user.roomId)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "BookRooms(user.roomId)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>