<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="aboutus.component.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="page-wrap gold">
        <div class="banner">
            <div class="page-spacing">
                <img src="assets/g.jpg" alt="" width="300px">
                <h1>SEVEN-STAR PARADISE</h1>
                <p>
                    Welcome to 7 Star Paradise Hotel, where luxury meets unparalleled hospitality in a realm of opulence and sophistication. Nestled in the heart of pune, our exclusive hotel redefines the standards of grandeur, promising an unforgettable experience for the discerning traveler.
                    At 7 Star Paradise, we pride ourselves on creating an oasis of tranquility, where every detail is meticulously crafted to exceed your expectations. Our commitment to excellence is evident in every facet of our establishment.     
                    Indulge in the epitome of comfort with our exquisitely designed suites, each a haven of refinement and style. Immerse yourself in the breathtaking views of pune's skyline.
                    
                </p>
                <div class="bnr-img flex-prt">
                    <div class="img-prt-one">
                        <img src="assets/hotal-img-1.jpg" alt="" width="1000px">
                    </div>
                    <div class="img-prt-two">
                        <img src="assets/hotal-img-2.jpg" alt="">
                        <img src="assets/hotal-img-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="four-prt">
            <div class="page-spacing">
                <div class="header-g">
                    <h2>EXPLORE 7-Star PARADISE</h2>
                </div>

                <div class="four-box">
                    <div class="four-box-item">
                        <img src="https://www.tajhotels.com/content/dam/luxury/hotels/Taj-Exotica-Maldives/images/gallery/AerialShotII3x2.jpg/jcr:content/renditions/cq5dam.web.756.756.jpeg" alt="">
                        <h3>BEACH RETREATS</h3>
                        <p>Wake up to the sound of waves lapping lazily at the shore. Uncover serenity and marvel at the wealth of beauty within the glittering blue seas.</p>
                    </div>

                    <div class="four-box-item">
                        <img src="https://www.tajhotels.com/content/dam/tajhotels/in/en/themes/hill_station_theme.png/jcr:content/renditions/cq5dam.web.512.512.png" alt="">
                        <h3>HILL STATIONS</h3>
                        <p>Gaze at the mist rolling in over the hill-tops from your luxurious villa. Marvel at glorious sunsets that will take your breath away from a private deck.</p>
                    </div>

                    <div class="four-box-item">
                        <img src="https://www.tajhotels.com/content/dam/tajhotels/in/en/themes/royal_theme.png/jcr:content/renditions/cq5dam.web.512.512.png" alt="">
                        <h3>ROYAL INDIA</h3>
                        <p>Wander through the storied halls of a fairy tale palace, where dreams come to life. Retreat into your majestic suite, inspired by elegance.</p>
                    </div>

                    <div class="four-box-item">
                        <img src="https://www.tajhotels.com/content/dam/luxury/hotels/taj-the-trees-mumbai/facade-img/taj-the-trees-happenings.png/jcr:content/renditions/cq5dam.web.512.512.png" alt="">
                        <h3>URBAN GETAWAYS</h3>
                        <p>There is magic to be found in the energy of a bustling city. Where vibrant markets offer you everything you could imagine and centuries of history hide in the most unassuming places.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-prt">
            <div class="page-spacing">
                <h2>Happy Holiday with RESIDENCY</h2>
                <div class="social-icons">
                    <i class="fa fa-instagram" style="font-size:36px"></i>
                    <i class="fa fa-facebook-f" style="font-size:36px"></i>
                    <i class="fa fa-twitter" style="font-size:36px"></i>
                    <i class="fa fa-youtube-play" style="font-size:36px"></i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
