<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Room</title>
    <link rel="stylesheet" href="create-bookroom.component.css">
</head>
<body>

<div class="col-md-6 offset-md-3">
    <h3>Book Room</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>User Email</label>
            <input type="text" class="form-control" id="userEmail" [(ngModel)]="room.userEmail" name="userEmail">

        </div>  
          <div class="form-group">
                <label>Room Type</label>
                <input type="text" class="form-control" id="roomtype" [(ngModel)]="room.roomType"
                    name="roomtype">

            <div class="form-group">
                <label>Cost</label>
                <input type="text" class="form-control" id="cost" [(ngModel)]="room.cost" name="cost"> 
                    
            <div class="form-group">
                <label>Payment Method</label>
                <input type="text" class="form-control" id="paymentMethod" [(ngModel)]="room.paymentMethod"
                    name="paymentMethod">
                    <div class="mt-3">
                     <button type="button"  class="btn btn-success" href="#" (click)="payNow()" >Pay Amount</button> 
                     <span class="mx-2"></span>
                     <button type="button"  class="btn btn-success" href="#" (click)="onSubmit()" >Submit</button>  
                    </div>                       
            </div>
        </div>
        </div>
    </form>
</div>